:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

html {
  cursor: default;
  -webkit-text-size-adjust: 100%;
}

html* {
  -webkit-font-smoothing: antialiased;
}
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  color: #3c4858;
  font-size: 14px;
}

.jss1 {
  top: 0;
  height: auto;
  /* position: relative; */
  overflow: hidden;
  height: 95vh;
}
.jss2 {
  -webkit-font-smoothing: antialiased;
}
.jss2::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  z-index: 2;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
}
.jss2::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  z-index: 2;
  position: absolute;
  text-decoration: inherit;
  background-repeat: no-repeat;
  box-sizing: inherit;
}

.jss3 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  position: absolute;
  background-size: cover;
  background-position: center center;
}

.jss4 {
  z-index: 4;
  position: relative;
  min-height: calc(100vh - 80px);
  padding-top: 18vh;
}

.jss5 {
  margin-left: auto;
  padding-left: 15px;
  margin-right: auto;
  padding-right: 15px;
}

.jss5::before {
  display: table;
  content: " ";
  background-repeat: no-repeat;
  box-sizing: inherit;
}

.jss5::after {
  clear: both;
  display: table;
  content: " ";
  background-repeat: no-repeat;
  box-sizing: inherit;
}
.jss30 {
  width: calc(100%);
  padding: 10px 0px;
  justify-content: center;
}
.jss31 {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-bottom: 0px !important;
}

.jss32 {
  margin: 0;
  box-sizing: border-box;
}
.jss48 {
  padding-bottom: 0px !important;
}

.jss91 {
  flex-grow: 0;
  max-width: 33.333333%;
  /* flex-basis: 33.333333%; */
}
.jss128 {
  padding: 0 6px !important;
}
.jss131 {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  margin: 25px 0;
  display: inline-block;
  position: relative;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  background: #fff;
  transition: all 300ms linear;
  border-radius: 6px;
  padding-bottom: 20px;
}
.jss133 {
  margin: -20px 15px 0;
  padding: 15px;
  text-align: center;
  margin-top: 15px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  border-radius: 3px;
  margin-bottom: 20px;
}
.jss138 {
  background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.jss141 {
  color: #ffffff;
  font-size: 1.3em;
  margin-top: 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 10px;
}
.jss142 {
  font-size: 14px;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
p {
  margin: 0px;
}
.jss144 {
  padding: 0px 30px;
  position: relative;
}
.jss149 {
  overflow: visible;
}
.jss177 {
  display: flex;
  padding: 26px;
  align-items: center;
}
.jss180 {
  flex: 1 1 auto;
}
.jss199 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.2rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0em;
}
.jss183 {
  margin: 0;
  display: block;
}

.jss234 {
  position: relative;
  padding-bottom: 10px;
}
.jss237 {
  margin: 0;
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}

.jss240 {
  width: 100%;
}
.jss235 {
  top: 3px;
}

.jss225 {
  color: #000;
  font-size: 14px;
  transition: 0.3s ease all;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  line-height: 1.42857;
}

.jss249 {
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.jss246 {
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(0, 24px) scale(1);
}
.jss241 {
  transform-origin: top left;
}
.jss252 {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 15px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
}

label {
  font-size: 13px;
  line-height: 1.42857;
  color: #aaaaaa;
  font-weight: 400;
}
label + .jss260 {
  margin-top: 16px;
}

.jss259 {
  position: relative;
}

.jss272 {
  color: rgba(0, 0, 0, 1) !important;
  cursor: text;
  display: inline-flex;
  font-size: 13px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.1875em;
  align-items: center;
}
.jss221:before {
  height: 1px !important;
  background-color: #d2d2d2 !important;
}

.jss263:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  pointer-events: none;
}
.jss230 {
  color: #555;
  height: 36px;
  padding: 2px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571429;
}
.jss282 {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 6px 0 7px;
  display: block;
  min-width: 0;
  box-sizing: content-box;
  background: none;
  -webkit-tap-highlight-color: transparent;
}
.jss292 {
  margin-left: 8px;
}

.jss289 {
  height: 0.01em;
  display: flex;
  max-height: 2em;
  align-items: center;
}
.jss263:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #307042;
  pointer-events: none;
}
.jss230 {
  color: #555;
  height: 36px;
  padding: 2px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571429;
}
.jss282 {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 6px 0 7px;
  display: block;
  min-width: 0;
  box-sizing: content-box;
  background: none;
  -webkit-tap-highlight-color: transparent;
}
.jss292 {
  position: absolute;
  top: 30px;
  right: 0;
}
.jss289 {
  height: 0.01em;
  display: flex;
  max-height: 2em;
  align-items: center;
}
svg:not(:root) {
  overflow: hidden;
}

.jss8 {
  color: #555;
}

.jss294 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}

input {
  outline: none;
}

svg {
  touch-action: none;
}
.jss263:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #307042;
  pointer-events: none;
}

.jss303 {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

label {
  font-size: 13px;
  line-height: 1.42857;
  color: #aaaaaa;
  font-weight: 400;
}
.jss309 {
  color: rgba(0, 0, 0, 0.54);
}
.jss315 {
  display: inline-flex;
  transition: none;
  align-items: center;
}

.jss319 {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 6px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}

.jss324 {
  margin-top: 5px;
}

.jss325 {
  color: inherit;
  border: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  justify-content: center;
  -moz-appearance: none;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.jss294 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}
.jss292 {
  margin-left: 8px;
}

.jss289 {
  height: 0.01em;
  display: flex;
  max-height: 2em;
  align-items: center;
}
.jss318 {
  top: 0;
  left: 0;
  width: 100%;
  cursor: inherit;
  height: 100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
}
.jss379 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
}
.jss191 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071em;
}

.jss183 {
  margin-left: 10px;
  display: block;
}
.jss148 {
  text-align: center;
}

.jss143 {
  height: auto;
  padding: 0;
  display: block;
}

.jss328 {
  /* display: flex; */
  padding: 8px 4px;
  box-sizing: border-box;
  align-items: center;
}
.jss10 {
  position: relative;
  margin-top: 10px;
}

.jss330 {
  margin: 0 4px;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

button {
  height: 22px;
}

.jss311 {
  font-size: 13px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  line-height: 1.75;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

button > span {
  color: rgb(42, 217, 54);
  font-weight: 500;
}

.jss339 {
  padding: 5px 16px;
  border: 1px solid #43a445;
  border-radius: 5px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 320px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #000 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  color: #000;
  transition: border-bottom-color 0.4s ease-in-out;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: rgb(19, 168, 14);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 16px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: rgb(41, 196, 24);
  transform: translateY(-20px);
  font-size: 10px;
  transition: color 0.5s ease-in;
}

.form-control input:not(:focus):valid + label span {
  color: rgb(198, 198, 198);
  transform: translateY(0px);
  font-size: 10px;
  transition: color 0.5s ease-in;
}

.form-control input:not(:focus):valid,
.form-control input:not(:focus):not(:placeholder-shown) {
  border-bottom-color: #dfdfdf;
}

.form-control input:focus + label,
.form-control input:valid + label {
  color: rgb(19, 168, 14);
}

.jss23 {
  position: relative;
}

.error-message1,
.error-message2 {
  color: red;
  font-size: 12px;
  margin-top: 15px;
}

.checkbox-wrapper-21 .control {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 14px;
  top: -15px;
}
.checkbox-wrapper-21 .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-wrapper-21 .control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #ffffff;
}
.checkbox-wrapper-21 .control__indicator {
  outline: 2px solid #9c9696;
  border-radius: 2px;
  position: absolute;
  top: -1px;
}

.checkbox-wrapper-21 .control input:checked ~ .control__indicator {
  background: #ea0808;
}

.checkbox-wrapper-21 .control__indicator:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-wrapper-21 .control input:checked ~ .control__indicator:after {
  display: block;
}
.checkbox-wrapper-21 .control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox-wrapper-21
  .control--checkbox
  input:disabled
  ~ .control__indicator:after {
  border-color: #ffffff;
}

.control,
.control--checkbox {
  display: block;
  position: relative;
  /* top: -15px; */
}
.checkbox-wrapper-21 .control input:checked ~ .control__indicator {
  background: #ea0808;
  outline: none;
}

.checkbox-wrapper-21 .control input:disabled:checked ~ .control__indicator {
  background: #ffffff;
  outline: none;
}
